services:

  backend:
    container_name: backend
    build: ./backend
    env_file: 
      - ./.env
    ports:
      - "8000:8000"  # Port HTTP
      - "8001:8001"  # Port WebSocket
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/dist
      - ./backend/database:/app/database
    depends_on:
      - database
    networks:
      - transcendence_network
    restart: unless-stopped
  
  frontend:
    build: ./frontend
    container_name: frontend
    env_file: 
      - ./.env
    ports:
      - "80:80"   # http
      - "443:443"  # https
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - transcendence_network
    restart: unless-stopped
  
  database:
    image: alpine:latest #siuu peut etre mettre une version precise
    container_name: database
    volumes:
      - ./backend/database:/data
    command: tail -f /dev/null
    networks:
      - transcendence_network

networks:
  transcendence_network:
    driver: bridge

volumes:
  database_data: 
    driver: local