# NODE_ENV=development
# PORT=8000
# DATABASE_URL="./database.db"

# exemple
DATABASE_URL="file:./data/dev.db"
APP_KEY="your-secret-key"
PORT=3000
NODE_ENV=development 
API_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
ACCESS_TOKEN_SECRET="access-secret-key-for-dev-32-chars"
REFRESH_TOKEN_SECRET="refresh-secret-key-for-dev-32-chars"
COOKIE_SECRET="your-cookie-signing-secret-key-32-chars"

# Générer un secret aléatoire de 64 caractères
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

# TestPass123!